=border_radius(!radius)
  -moz-border-radius = "#{!radius}"
  -webkit-border-radius = "#{!radius}"
  border-radius = "#{!radius}"

=box_shadow(!color, !values)
  -webkit-box-shadow = "#{!color} #{!values}"
  -moz-box-shadow = "#{!color} #{!values}"
  box-shadow = "#{!color} #{!values}"

=box_gradient(!top,!bottom)
  background-image = "-moz-linear-gradient(top, #{!top}, #{!bottom})"
  background-image = "-webkit-gradient(linear,left top,left bottom,color-stop(0, #{!top}),color-stop(1, #{!bottom}))"
  -ms-filter = "\"progid:DXImageTransform.Microsoft.gradient(startColorStr='#{!top}', EndColorStr='#{!bottom}')\""
  *filter = "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{!top}', EndColorStr='#{!bottom}')"

=reset
  margin: 0
  padding: 0

body
  margin: 0 auto
  background-color: #EEE
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 1.5

a
  outline: 0
  &:link, &:visited, &:active
    color: #EA4C88
    text-decoration: none
  &:hover
    text-decoration: underline

header, footer, nav, section
  display: block

img
  border-width: 0

abbr
  border: none

#wrapper
  +box_shadow(#AAA, 0px 0px 5px)
  border-top: 6px solid #EA4C88
  width: 80%
  padding: 20px
  background-color: #FFF
  margin: 20px auto

h1
  text-align: center
  font-size: 100px
  margin: 10px 0
  text-shadow: #999 0px 0px 8px

h2
  margin: 40px 0 0
  color: #666
  font-size: 32px
  font-weight: normal
  text-shadow: #CCC 0px 0px 8px

p
  color: #333

p.tagline
  text-align: center
  color: #999
  margin: 30px 0
  a[rel=external]
    color: #666

nav
  border-bottom: 1px solid #DDD
  ul
    list-style: none
    +reset
    text-align: center
    li
      display: inline-block
      width: 45%
      +reset
      a
        +border_radius(10px 10px 0 0)
        +box_gradient(#EEE, #EEE)
        width: 100%
        text-align: center
        display: inline-block
        border:
          width: 1px 1px 0 1px
          color: #DDD
          style: solid
        padding: 10px 0
        font-weight: bold
        &:link, &:hover, &:visited, &:active
          color: #666
        small
          font-weight: normal
          display: block
          color: #999
        &:hover
          color: #EA4C88
          text-decoration: none
          small
            color: #666
      &.selected
        a
          +box_gradient(#EEE, #FFF)
          color: #EA4C88
          font-weight: bold
          margin-bottom: -1px
          padding-bottom: 11px
          small
            color: #666

table
  width: 100%
  border-collapse: collapse
  margin: 40px 0
  border-bottom: 1px solid #CCC
  tbody tr:hover
    background-color: #FFFFEB

tbody tr:nth-child(2n)
  background-color: #F5F5F5

thead th
  vertical-align: bottom
  &.player
    text-align: left

tbody td
  &.user
    text-align: left
  text-align: center
  position: relative
  a
    font-weight: bold
  dl
    margin: 0
    padding: 0 0 0 55px
    position: relative
    min-height: 50px
    list-style: none
    dt
      padding-top: 5px
      font-weight: bold
  dd
    margin: 0
    font-weight: normal

dd
  &.avatar
    position: absolute
    top: 0
    left: 0
    img
      +border_radius(4px)
      height: 40px
      width: 40px
      border: 1px solid #DDD
      padding: 4px
      background-color: #FFF
  &.twitter
    font-size: 11px
    a
      color: #666
      font-weight: normal

tbody th, td
  padding: 4px
  border-top: 1px solid #CCC
  vertical-align: middle

th
  &.draftee-stats
    font-size: 11px
    border-bottom: 1px solid #CCC
    color: #999
    text-transform: uppercase
    letter-spacing: 6px
  &.draftee-stat
    font-size: 13px
    background-color: #EEE

footer
  margin: 20px auto 100px
  p
    text-align: center
    font-size: 11px

.draftees
  position: relative

.top-draftees
  +border_radius(8px)
  position: absolute
  background-color: rgba(0, 0, 0, 0.85)
  padding: 20px
  z-index: 1
  text-align: left
  color: #FFF
  top: -32px
  left: 92%
  width: 220px
  dl
    margin: 0
    padding: 0
  dt
    font-size: 14px
    padding: 0
    span
      font-weight: normal
  dd
    padding: 0
    margin: 0
  ol
    list-style: none
    font-size: 12px
    margin: 0
    padding: 0
  li
    margin-top: 5px
    a
      font-size: 14px
  ol img
    height: 14px
    width: 14px
    vertical-align: baseline

div.arrow
  position: absolute
  top: 20px
  left: -40px
  border-top: 20px solid transparent
  border-bottom: 20px solid transparent
  border-right: 20px solid rgba(0, 0, 0, 0.85)
  border-left: 20px solid transparent

.pagination
  font-size: 12px
  a:link, a:visited, a:hover, a:active
    border: 1px solid #DDD
    padding: 3px 6px
  a:hover, a:active
    text-decoration: none
    border-color: #EA4C88
    background-color: #EA4C88
    color: #FFF
  .disabled
    color: #CCC
  em
    font:
      style: normal
      weight: bold