%section#player-list
  %table
    = render :partial => @template

  #minimum-shots
    %form
      %input{:type => "hidden", :id => "view", :value => params[:view]}
      %span Shot Minimum:
      - SAMPLE_SIZES.each do |size|
        - selected = sample_is?(size)
        %label{:for => "shot-sample-#{size}", :class => ("selected" if selected)}
          =size
          %input{:type => 'radio', :name => 'shot_sample', :id => "shot-sample-#{size}", :value => size, :checked => selected}

  =will_paginate(@players)
