%section#players
  %table
    = render :partial => @template

  #minimum-shots
    %span Shot Minimum:
    %ul
      %li#shots-1
        %a{:href => '#'} 1
      %li#shots-10
        %a.selected{:href => '#'} 10
      %li#shots-50
        %a{:href => '#'} 50
      %li#shots-100
        %a{:href => '#'} 100

  =will_paginate(@players)