%section#player

  %h2 Adam Darowski
  %ul
    %li On the web: darowski.com
    %li On Twitter: adarowski
    %li On Dribbble: adarowski

  %table#player-stats
    %thead
      %th Shots
      %th Likes
      %th
        %a{:href => 'about/'}
          %abbr{:title => "Likes Above Average"} LAA
        Score
    %tbody
      %tr
        %td 53
        %td 95
        %td -4.6

  %h3 17 Draftees

  %table#draftee-stats
    %thead
      %th.player Player
      %th Shots
      %th Likes
      %th
        %a{:href => 'about/'}
          %abbr{:title => "Likes Above Average"} LAA
        Score
    %tbody
      %tr
        %td.user
          %dl
            %dt
              %a{:href => '#'} Adam Darowski
            %dd.twitter
              %a{:href => '#'} adarowski
            %dd.avatar
              %a{:href => '#'}
                %img{:alt => "Adam Darowski's avatar", :src => 'http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg'}
        %td 53
        %td 95
        %td -4.6
      %tr
        %td.user
          %dl
            %dt
              %a{:href => '#'} Adam Darowski
            %dd.twitter
              %a{:href => '#'} adarowski
            %dd.avatar
              %a{:href => '#'}
                %img{:alt => "Adam Darowski's avatar", :src => 'http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg'}
        %td 53
        %td 95
        %td -4.6
      %tr
        %td.user
          %dl
            %dt
              %a{:href => '#'} Adam Darowski
            %dd.twitter
              %a{:href => '#'} adarowski
            %dd.avatar
              %a{:href => '#'}
                %img{:alt => "Adam Darowski's avatar", :src => 'http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg'}
        %td 53
        %td 95
        %td -4.6
      %tr
        %td.user
          %dl
            %dt
              %a{:href => '#'} Adam Darowski
            %dd.twitter
              %a{:href => '#'} adarowski
            %dd.avatar
              %a{:href => '#'}
                %img{:alt => "Adam Darowski's avatar", :src => 'http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg'}
        %td 53
        %td 95
        %td -4.6
      %tr
        %td.user
          %dl
            %dt
              %a{:href => '#'} Adam Darowski
            %dd.twitter
              %a{:href => '#'} adarowski
            %dd.avatar
              %a{:href => '#'}
                %img{:alt => "Adam Darowski's avatar", :src => 'http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg'}
        %td 53
        %td 95
        %td -4.6


      %tr.totals
        %td Totals
        %td 265
        %td 475
        %td -23.0
