%h2#about-scouts About Liiikes
%p Liiikes, a simple app that utilizes the <a href="http://dribbble.com">Dribbble</a> API, was built by <a href="http://darowski.com">Adam Darowski</a> and <a href="http://semanticart.com">Jeffrey Chupp</a>. 

%h2#about-laa About Likes Above Average (LAA)
%p Likes Above Average (LAA) is the metric used to build the Liiikes leaderboards. Inspired by the <a href="http://www.baseballprojection.com/war/statdef.htm">Wins Above Replacement model</a> that's all the rage in the baseball sabermetrics community, LAA calculates how many more "Likes" a Dribbble player receives than the average player.
%a{:id => 'geek'} I'm a geek and I want to know more. <span>&#9660;</span>
#lii-explained{:style => 'display:none;'}
  %p Likes Above Average simply compares the total number of likes a player receives (compared to their number of shots) and compares that to the "league average" number of likes per shot.
  %p For example, say a player has four shots. Those four shots have been liked a total of 46 times. The average number of likes per shot is about 6.5. So, that user would be expected, on average, to receive 26 likes total for those four shots. So, the player's LAA (Likes Above Average) is 20.0 (46-26).
  %p On the Scouts tab, each scout is ranked by the total LAA for each of their draftees. So, if a player drafted four players who have LAA scores of 22.8, 14.5, -1.2, and -4.4, their LAA on the Scouts tab would be 31.7.
  %p Where Likes Above Average deviates a bit from Wins Above Replacement is relative value of a single unit. In baseball, a single plate appearance can only be worth so much. On Dribbble, a shot can collect an unlimited number of likes. For that reason, we added the <strong>shot minimum toggle</strong>. This is an important part of the rankings because it filters out users who have only contributed a little to Dribbble.
  %p It's awesome when someone has just two shots and they've collected 112 likes already. That gives them a 99.0 LAA. But how about the player who has collected 336 likes on their 44 shots? While this player "only" has an LAA of 50.0, you could argue that the player's contribution to Dribbble has been more valuable. It's the classic rate stat vs. counting stat argument. The maximum value of a plate appearance sorts this out in baseball's Wins Above Replacement. Nothing sorts that out on Dribbble, so we have the shot minimum (that you can adjust, by the way).
  %p The shot minimum toggle is also on the Scouts tab. Only draftees who have reached the shot minimum will be calculated in your scout LAA. (So, if you drafted a couple friends who posted a couple goofy things that never got liked, it's not going to kill your score.)
%h2#about-tech About the Tech
%p== We're powered by <a href="http://rubyonrails.org/">Rails 3</a> and a little <a href="http://jquery.com/">jQuery</a> running on <a href="http://heroku.com/">Heroku</a>. We use the lovely <a href="http://github.com/jeremyw/swish">Swish</a> library for scraping Dribbble. The data was fresh as of #{freshness_time}.

%p Thanks to <a href="http://thornett.com/">Rich Thornett</a> for his hard work on <a href="http://dribbble.com/api">the Dribbble API</a>.
