#wrapper
  %h1
    %a{:href => "/"} Scouuuts
  %p.tagline
    Who is drafting the best talent into
    = succeed "?" do
      %a{:href => "http://dribbble.com"} Dribbble
  %h2#about-scouuuts About Scouuuts
  %p Scouuuts, a simple app that utilizes the <a href="http://dribbble.com">Dribbble</a> API, was built by <a href="http://darowski.com">Adam Darowski</a> and <a href="http://semanticart.com">Jeffrey Chupp</a>. One very unique feature of Dribbble is that it's not a closed site, but it's not completely open, either. To get a Dribbble invite you need to be drafted. Therefore, you are forever connected to the person who drafted you. Dribbble urges you to draft wisely in order to keep the community awesome.
  %p The "drafting" concept has led to a user role never seen on a social site before&mdash;the role of talent scout. Every member of the community was let in by another member. So, who's finding the best talent? That's what Scouuuts aims to discover.
  %h2#about-laa About Likes Above Average (LAA)
  %p Likes Above Average (LAA) is the metric used to build the Scouuuts leaderboard. Inspired by the <a href="http://www.baseball-reference.com/blog/archives/6063">Wins Above Replacement model</a> that's all the rage in the baseball sabermetrics community, LAA calculates how many more "Likes" a Dribbble player receives than the average player.
