<!DOCTYPE html>
<html>
<head>
  <title>Liiikes</title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<footer>
  <p>Liiikes was built by <a href="http://darowski.com">Adam Darowski</a> and <a href="http://semanticart.com">Jeffrey Chupp</a>.</p>
</footer>

</body>
</html>
